.login-con{
    background-color: #fff;
    border-radius: 4px;
}
.btn-success {
    background-color: #2b75c0;
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-success:hover {
    background-color: #7514e5;
  }